[Unit]
Description=trigger backup when connecting usb device

[Service]
Type=oneshot
ExecStart=/home/chris/projects/backup_scripts/react_on_connect_usb_drive.sh

[Install]
WantedBy=multi-user.target